CalculatorApp/Service References/CalculatorServiceRefenrence/CalculadoraService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7095/CalculadoraService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProyectoWCF.DTO" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarOperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProyectoWCF.DTO" minOccurs="0" name="calculadoraDTO" nillable="true" type="q1:CalculadoraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarOperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EjecutarOperacionResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>