CalculatorApp/Service References/CalculatorServiceRefenrence/CalculadoraService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProyectoWCF.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProyectoWCF.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CalculadoraDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Numero1" type="xs:decimal" />
      <xs:element minOccurs="0" name="Numero2" type="xs:decimal" />
      <xs:element minOccurs="0" name="Operacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculadoraDTO" nillable="true" type="tns:CalculadoraDTO" />
</xs:schema>